﻿@page "/"

<h1>Hello, world!</h1>

@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>*@

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
